*{
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    margin:0;
    padding: 0;
}

a{
    text-decoration: none;
}

:root{
    --main1: #272727;
    --main2: #4f98ca;
    --main3: #e1f2fb;
    --main4: #72b5b7;
}

.center{
    display:flex;
    align-items: center;
    justify-content: center;
}

.flex-start{
    display:flex;
    align-items: flex-start;
    justify-content: center;
}

.inline{
    display:inline;
}

.column{
    flex-direction: column;
}

.flex{
    display: flex;
}

body{
    margin:0;
    padding:10px;
    background-image:linear-gradient(var(--main4),var(--main3));
    min-height: 100vh;
}

section{
    background-color: var(--main3);
    border: 5px var(--main2) solid;
    padding:10px;
    border-radius: 5px;
    width:100%;
}

.pfp{
    height:260px;
    width:260px;
    object-fit: cover;
    border-radius: 10px;
}

img{
    border:1px black solid;
}

.section1{
    min-height:60%;
    text-align: center;
}

.section1 h1, .section1 h5{
    margin:10px;
}

.section2{
    margin-top:5px;
    justify-content: space-around;
    min-height:30%;
}

.contact-text p{
    margin:0 5px;
}

.contact-hr{
    width:calc(100% - 5px);
    border:1px black solid;
}

.flex-left{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

table,tr,td,th{
    border:1px black solid;
    border-collapse: collapse;
    text-align: center;
}

table th{
    background-color:var(--main1);
    color:white;
}

table tr{
    background-color: var(--main4);
}

table tr:nth-child(odd){
    background-color: var(--main2);
}

tr,td,th{
    padding:2px;
}

.data{
    width:80%;
}

.left-side{
    width:300px;
}

.data p{
    text-align: center;
    margin: 0;
}

.contact{
    width:20%;
}

.contact-btn > i{
    font-size: 35px;
    color: var(--main3);
    transition: 0.5s;
}

.contact-btn{
    background-color: var(--main1);
    padding:20px;
    border: 2px var(--main1) solid;
    border-radius: 10px;
    width:40px;
    height:40px;
    margin:2px 0;
    transition: 0.5s;
}

.contact-btn:hover{
    background-color: var(--main3);
}

.contact-btn:hover > i{
    color: var(--main1);
}

.right-side{
    width:100%;
    margin-left:5px;
}

.section3{
    width:100%;
    text-align: center;
    min-height:10%;
}

.section4{
    margin-top:5px;
    min-height:380px;
    min-height:40%;
}

.jakun-img{
    width:200px;
    height:300px;
    object-fit: cover;
    border-radius: 5px;
}

.jakun{
    width:30%;
    text-align: center;
}

.caption{
    margin-top:10px;
    font-size: 12px;
}

.about-me{
    height:100%;
    width:70%;
}

.about-me p{
    margin-top:10px;
}

.about-me h1{
    display:inline;
}

.about-me i{
    font-size: 24px;
    margin:0 12px;
}

.breadcrumb{
    background-color:var(--main4);
    padding:5px;
    display:inline-block;
    border-radius: 5px;
    border:2px solid var(--main2);
}

.about-me hr{
    border:1px solid black;
}

.section5{
    min-height:calc(30% + 5px);
    margin-top: 5px;
    justify-content: space-around;
    align-items: flex-start;
}

@media (max-width: 768px) {
    .flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left-side, .right-side{
        width:95%;
        margin:0;
    }
    .section3{
        margin-top:5px;
    }
    .section1{
        height:auto;
    }
    .section2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact{
        flex-direction: row;
    }
    .contact > a{
        margin: 0 2px;
    }
    .section4{
        flex-direction: column;
    }
    .section5{
        flex-direction: column;
        align-items: center;
    }
    .section5 > div{
        margin:10px 0;
    }
    .jakun{
        margin-top: 10px;
    }
    .caption{
        width:200px;
    }
    .pfp{
        width:260px;
        height:260px;
    }
    .about-me > p, .about-me > h1{
        text-align: center;
    }
}